*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* topo da pagina */
header{
    padding: 20px;
    background-color: #111;
    text-align: center;
}

header > h2{
    color: white;
    font-family: 'VALORANT', sans-serif;
}
/* topo da pagina */

/* final da página */
footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #111;
     color: white;
     text-align: center;
}
/* final da página  */
.link-riot{
    text-decoration: none;
    color: rgb(105, 248, 160);
}

footer > ul{
    list-style-type: none;
}
